<h3>Now, story time!</h3>

<% if @errors && @errors.any? %>
  <p><strong>Oh-oh! Fix these errors to move on:</strong></p>
  <ul class="errors">
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="signup">
  <%= form_for @story_book, :html => {:class => 'login'} do |f| %>
    <p><%= f.label :character_id %>'s name:
    <%= @story_book.character.name.titleize %> </p>
    <%= f.hidden_field :character_id, value: @story_book.character.id %>
    <%= f.label :story_id, "YOUR STORY IS ABOUT:" %>
    <%= f.collection_select :story_id, Story.order(:issue).all, :id, :issue, :prompt => 'PLEASE SELECT' %>
    <%= f.label :tag, "ENTITLE YOUR STORY:" %>
    <%= f.text_field :tag %>
    <%= f.submit 'Read your story!', class: "login-button" %>
  <% end %>

</div>
