<div class="homepage">
<h3 class="pink">Ready for an adventure?</h3>

<% if @logged_in_user.story_books.first == nil %>
<p>You haven't created any story yet... Time to change that!</p>
<%= button_to "Create a new story!", new_character_path, method: :get, form: {style: 'display:inline-block;'}, :style => "font-family: 'Cupertino'; text-align: center; color: #0E2B3F; font-size: 20pt; background-color: lightgreen; padding: 7px 12px; text-align: center; border-radius: 20px; margin: 2px 2px 2px 2px;" %>
<br><br>
<% else %>
<h4> HERE IS A LIST OF YOUR STORIES: </h4>

<ul class="stories">
  <% @logged_in_user.story_books.sort_by{|sb| sb.created_at}.reverse.each do |story_book| %>
    <li>
      <p><%= link_to story_book.tag.upcase, story_book%> featuring <%=story_book.character.name.titleize %>, a <%=story_book.character.adjective %> <%=story_book.character.gender.name %> who <%=story_book.character.character_description_one %>.</p>
      <%= button_to "EDIT THE CHARACTER", edit_character_path(story_book.character_id), :method => :get, class: 'button edit-button' %>

      <%= button_to "DELETE THIS STORY", story_book_path(story_book), method: :delete, :data => {:confirm => 'Are you sure you want to delete this story?'}, class: 'button delete-button right-button-left-margin' %><br>
    </li>
    <br>

  <% end %>
</ul>
<% end %>

<h4>CHECK OUT STORIES BY OTHERS:</h4>
<ul class="stories">
  <% StoryBook.all.select{|sb| sb.user != @logged_in_user}.sample(4).each do |story_book|%>
    <li> <p><%= link_to story_book.tag.upcase, story_book%>, a story about <%=story_book.story.issue.upcase %></li></p>
  <% end %>
</ul><br/>
</div>
