<h3>First, let's talk about your character:</h3>

<% if @errors && @errors.any? %>
  <p><strong>Oh-oh! Fix these errors to move on:</strong></p>
  <ul class="errors">
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="signup">
  <%= form_for @character, :html => {:class => 'login'} do |f| %>

  <%= f.label :name, "CHARACTER'S NAME:"  %>
  <%= f.text_field :name %> 

  <%= f.label :gender_id, "CHARACTER'S GENDER:" %> <%= f.collection_select :gender_id, Gender.order(:name).all, :id, :name, :prompt => 'PLEASE SELECT' %>

  <%= link_to "Wanna add a gender expression?", new_gender_path, method: :get%>
  

  <%= f.label :pronoun_one_id, "CHARACTER'S PRONOUN:" %>
  <%= f.collection_select :pronoun_one_id, PronounOne.order(:name).all, :id, :name, :prompt => 'PLEASE SELECT' %>
  <span> ('___ is happy.') </span >

  <%= f.label :pronoun_two_id, "CHARACTER'S PRONOUN:"  %>
  <%= f.collection_select :pronoun_two_id, PronounTwo.order(:name).all, :id, :name, :prompt => 'PLEASE SELECT' %>
  <span> ('This person did it all by ____.') </span>

  <%= f.label :pronoun_three_id, "CHARACTER'S PRONOUN:" %>
  <%= f.collection_select :pronoun_three_id, PronounThree.order(:name).all, :id, :name, :prompt => 'PLEASE SELECT' %>
  <span> ('This is ___ painting.') </span>

  <%= f.label :pronoun_four_id, "CHARACTER'S PRONOUN:" %>
  <%= f.collection_select :pronoun_four_id, PronounFour.order(:name).all,:id, :name, :prompt => 'PLEASE SELECT' %>
  <span> ('I'm meething ___ now.') </span>

  <%= f.label :race_id, "CHARACTER'S race or ethnicity:" %><%= f.collection_select :race_id, Race.order(:name).all,:id, :name, :prompt => 'PLEASE SELECT'%>
  <%= link_to "Wanna add a new race or ethnicity?", new_race_path, method: :get %>
  

  <%= f.label :adjective, "What adjective describes the character best?" %>
  <%= f.select :adjective, Character::ADJECTIVES, :prompt => 'PLEASE SELECT' %>

  <%= f.label :character_description_one, "Yesterday, the character..." %>
  <%= f.select :character_description_one, Character::CHARACTER_DESCRIPTION_ONE, :prompt => 'PLEASE SELECT' %>

  <%= f.label :character_description_two, "What is CHARACTER'S level of ability?" %>
  <%= f.select :character_description_two, Character::CHARACTER_DESCRIPTION_TWO, :prompt => 'PLEASE SELECT' %>

  <%= f.submit 'My character is ready!', class: "login-button"%>
<% end %>
</div>
