<h3>Welcome back!</h3>

<% if @errors && @errors.any? %>
  <p><strong>Oh-oh! Fix these errors to move on:</strong></p>
  <ul class="errors">
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="login">
  <%= form_tag(login_index_path, {class: 'login'}) do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password%>
    <%= password_field_tag :password %>
    <%= submit_tag "TAKE ME IN!", class: "login-button"%>
  <% end %>
 
  <%= link_to "Not a member yet?", new_user_path %>
</div>
